* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(21, 31, 31);
}

.container {
  width: 80%; /*prima era al 100%*/
  height: 100%;
  background-color: rgb(61, 55, 55);
  margin: 0 auto;
}

.contenitore-header {
  width: 100%;
  height: 20%;
  background-color: rgb(95, 77, 77);
  position: relative;
}

.contenitore-mezzo {
  width: 100%;
  height: 75%;
  position: relative;
}

.colonna {
  float: left; /*NOTA: vale per .sinistra, .centro, .destra: */
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 2.5%;
}

.sinistra {
  height: 90%;
  width: 22%;
  background-color: rgb(206, 93, 73);
}

.centro {
  height: 90%;
  width: 46%;
  position: relative;
  background-color: rgb(177, 109, 177);
}

.destra {
  width: 22%;
  height: 90%;
  position: relative;
  background-color: rgb(87, 170, 162);
}

.container-footer {
  width: 100%;
  height: 100%;
  background-color: rgb(197, 197, 56);
  height: 5%;
  bottom: 0;
}
